In [1]:
import pandas as pd
import numpy as np

In [32]:
df_old = pd.read_csv('2009.csv').drop('Unnamed: 27', axis=1)
df_old.columns = [x.lower() for x in df_old.columns]
df_old.loc[:, 'fl_date'] = pd.to_datetime(df_old['fl_date'])

In [33]:
df_recent = pd.read_csv('2018.csv').drop('Unnamed: 27', axis=1)
df_recent.columns = [x.lower() for x in df_recent.columns]
df_recent.loc[:, 'fl_date'] = pd.to_datetime(df_recent['fl_date'])

In [79]:
df_airlines = pd.read_csv('airlines.csv')
df_flights = pd.read_csv('airports.csv')

In [34]:
df_recent.dtypes

fl_date                datetime64[ns]
op_carrier                     object
op_carrier_fl_num               int64
origin                         object
dest                           object
crs_dep_time                    int64
dep_time                      float64
dep_delay                     float64
taxi_out                      float64
wheels_off                    float64
wheels_on                     float64
taxi_in                       float64
crs_arr_time                    int64
arr_time                      float64
arr_delay                     float64
cancelled                     float64
cancellation_code              object
diverted                      float64
crs_elapsed_time              float64
actual_elapsed_time           float64
air_time                      float64
distance                      float64
carrier_delay                 float64
weather_delay                 float64
nas_delay                     float64
security_delay                float64
late_aircraft_delay           float64
dtype: object

In [20]:
df_old.head()

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2009-01-01,XE,1204,DCA,EWR,1100,1058.0,-2.0,18.0,1116.0,...,0.0,62.0,68.0,42.0,199.0,NaN,NaN,NaN,NaN,NaN
1,2009-01-01,XE,1206,EWR,IAD,1510,1509.0,-1.0,28.0,1537.0,...,0.0,82.0,75.0,43.0,213.0,NaN,NaN,NaN,NaN,NaN
2,2009-01-01,XE,1207,EWR,DCA,1100,1059.0,-1.0,20.0,1119.0,...,0.0,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN
3,2009-01-01,XE,1208,DCA,EWR,1240,1249.0,9.0,10.0,1259.0,...,0.0,77.0,56.0,37.0,199.0,NaN,NaN,NaN,NaN,NaN
4,2009-01-01,XE,1209,IAD,EWR,1715,1705.0,-10.0,24.0,1729.0,...,0.0,105.0,77.0,40.0,213.0,NaN,NaN,NaN,NaN,NaN

In [21]:
df_recent.head()

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,0.0,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,0.0,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,0.0,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,0.0,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,0.0,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN

In [46]:
delay_cols = ['carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay']

In [60]:
df_old_delay = df_old[df_old[delay_cols].notnull().any(axis=1)]
df_old_delay.head()

In [76]:
df_recent_delay = df_recent[df_recent[delay_cols].notnull().any(axis=1)]
df_recent_delay.head()

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
11,2018-01-01,UA,2416,ORD,CLE,2059,2300.0,121.0,24.0,2324.0,...,0.0,72.0,80.0,48.0,316.0,121.0,0.0,8.0,0.0,0.0
14,2018-01-01,UA,2413,ORD,BTV,2114,2230.0,76.0,14.0,2244.0,...,0.0,121.0,118.0,99.0,763.0,0.0,11.0,0.0,0.0,62.0
15,2018-01-01,UA,2412,MCO,LAX,653,747.0,54.0,14.0,801.0,...,0.0,337.0,338.0,302.0,2218.0,54.0,0.0,1.0,0.0,0.0
16,2018-01-01,UA,2411,EWR,SMF,1810,1922.0,72.0,16.0,1938.0,...,0.0,386.0,339.0,319.0,2500.0,7.0,0.0,0.0,0.0,18.0
17,2018-01-01,UA,2410,RSW,EWR,1250,1337.0,47.0,12.0,1349.0,...,0.0,167.0,149.0,131.0,1068.0,29.0,0.0,0.0,0.0,0.0

In [66]:
df_recent_delay[delay_cols + ['fl_date']].groupby(by='fl_date').sum()

,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
fl_date,,,,,
2018-01-01,136880.0,18837.0,37809.0,599.0,155361.0
2018-01-02,116658.0,18371.0,46831.0,2009.0,145021.0
2018-01-03,90974.0,10145.0,39419.0,286.0,96793.0
2018-01-04,59152.0,19048.0,26250.0,203.0,50528.0
2018-01-05,115955.0,27529.0,69070.0,426.0,132249.0
...,...,...,...,...,...
2018-12-27,140158.0,47757.0,82019.0,334.0,238597.0
2018-12-28,156635.0,27098.0,91932.0,555.0,232291.0
2018-12-29,104590.0,10948.0,43042.0,678.0,124640.0
2018-12-30,83003.0,11472.0,28889.0,735.0,91707.0
2018-12-31,78005.0,12978.0,40987.0,866.0,83052.0

In [81]:
df_old.isnull().sum()

fl_date                      0
op_carrier                   0
op_carrier_fl_num            0
origin                       0
dest                         0
crs_dep_time                 0
dep_time                 82867
dep_delay                82867
taxi_out                 85787
wheels_off               85787
wheels_on                89322
taxi_in                  89321
crs_arr_time                 0
arr_time                 89322
arr_delay               102361
cancelled                    0
cancellation_code      6342300
diverted                     0
crs_elapsed_time             0
actual_elapsed_time     102362
air_time                102361
distance                     0
carrier_delay          5258837
weather_delay          5258837
nas_delay              5258837
security_delay         5258837
late_aircraft_delay    5258837
dtype: int64

In [97]:
df_old[df_old['dep_time'].isnull() & df_old['cancelled'] == 1]

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
879,2009-01-01,YV,7104,DEN,CPR,2150,NaN,NaN,NaN,NaN,...,0.0,82.0,NaN,NaN,230.0,NaN,NaN,NaN,NaN,NaN
926,2009-01-01,YV,7329,DTW,ORD,1857,NaN,NaN,NaN,NaN,...,0.0,77.0,NaN,NaN,235.0,NaN,NaN,NaN,NaN,NaN
935,2009-01-01,YV,7065,EWR,IAD,1013,NaN,NaN,NaN,NaN,...,0.0,86.0,NaN,NaN,213.0,NaN,NaN,NaN,NaN,NaN
938,2009-01-01,YV,2984,FAT,LAS,710,NaN,NaN,NaN,NaN,...,0.0,70.0,NaN,NaN,258.0,NaN,NaN,NaN,NaN,NaN
941,2009-01-01,YV,2823,FAT,PHX,920,NaN,NaN,NaN,NaN,...,0.0,105.0,NaN,NaN,493.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428997,2009-12-31,YV,7302,IAD,TYS,840,NaN,NaN,NaN,NaN,...,0.0,94.0,NaN,NaN,419.0,NaN,NaN,NaN,NaN,NaN
6429170,2009-12-31,YV,7204,ORF,IAD,1227,NaN,NaN,NaN,NaN,...,0.0,56.0,NaN,NaN,157.0,NaN,NaN,NaN,NaN,NaN
6429268,2009-12-31,YV,7194,PVD,IAD,1416,NaN,NaN,NaN,NaN,...,0.0,93.0,NaN,NaN,372.0,NaN,NaN,NaN,NaN,NaN
6429272,2009-12-31,YV,7177,RDU,IAD,1016,NaN,NaN,NaN,NaN,...,0.0,61.0,NaN,NaN,224.0,NaN,NaN,NaN,NaN,NaN
6429276,2009-12-31,YV,7290,ROA,IAD,611,NaN,NaN,NaN,NaN,...,0.0,64.0,NaN,NaN,177.0,NaN,NaN,NaN,NaN,NaN

In [88]:
df_old[df_old['dep_delay'] == 0]

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
20,2009-01-01,XE,1266,EWR,ATL,630,630.0,0.0,15.0,645.0,...,0.0,161.0,149.0,125.0,745.0,NaN,NaN,NaN,NaN,NaN
32,2009-01-01,XE,2025,IAH,ABQ,1445,1445.0,0.0,12.0,1457.0,...,0.0,139.0,125.0,109.0,744.0,NaN,NaN,NaN,NaN,NaN
34,2009-01-01,XE,2028,IAH,TYS,1900,1900.0,0.0,27.0,1927.0,...,0.0,124.0,135.0,100.0,772.0,NaN,NaN,NaN,NaN,NaN
87,2009-01-01,XE,2105,IAH,GRR,1300,1300.0,0.0,16.0,1316.0,...,0.0,160.0,150.0,129.0,1042.0,NaN,NaN,NaN,NaN,NaN
98,2009-01-01,XE,2126,CMH,EWR,1715,1715.0,0.0,8.0,1723.0,...,0.0,113.0,137.0,84.0,462.0,0.0,0.0,24.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6429312,2009-12-31,YV,2808,SNA,PHX,1115,1115.0,0.0,12.0,1127.0,...,0.0,76.0,67.0,50.0,338.0,NaN,NaN,NaN,NaN,NaN
6429313,2009-12-31,YV,2661,SRQ,CLT,655,655.0,0.0,16.0,711.0,...,0.0,106.0,120.0,96.0,547.0,NaN,NaN,NaN,NaN,NaN
6429323,2009-12-31,YV,2878,TUS,PHX,1125,1125.0,0.0,13.0,1138.0,...,0.0,52.0,55.0,35.0,110.0,NaN,NaN,NaN,NaN,NaN
6429327,2009-12-31,YV,7059,TVC,ORD,1103,1103.0,0.0,14.0,1117.0,...,0.0,77.0,75.0,48.0,224.0,NaN,NaN,NaN,NaN,NaN
6429335,2009-12-31,YV,2866,YUM,PHX,1400,1400.0,0.0,29.0,1429.0,...,0.0,55.0,70.0,32.0,160.0,0.0,0.0,15.0,0.0,0.0

In [91]:
df_old['crs_dep_time'].max()

2359

In [92]:
df_old['crs_dep_time'].min()

1

In [93]:
df_old[df_old['cancelled'] == 1]

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
879,2009-01-01,YV,7104,DEN,CPR,2150,NaN,NaN,NaN,NaN,...,0.0,82.0,NaN,NaN,230.0,NaN,NaN,NaN,NaN,NaN
926,2009-01-01,YV,7329,DTW,ORD,1857,NaN,NaN,NaN,NaN,...,0.0,77.0,NaN,NaN,235.0,NaN,NaN,NaN,NaN,NaN
935,2009-01-01,YV,7065,EWR,IAD,1013,NaN,NaN,NaN,NaN,...,0.0,86.0,NaN,NaN,213.0,NaN,NaN,NaN,NaN,NaN
938,2009-01-01,YV,2984,FAT,LAS,710,NaN,NaN,NaN,NaN,...,0.0,70.0,NaN,NaN,258.0,NaN,NaN,NaN,NaN,NaN
941,2009-01-01,YV,2823,FAT,PHX,920,NaN,NaN,NaN,NaN,...,0.0,105.0,NaN,NaN,493.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6429092,2009-12-31,YV,7259,OKC,IAD,1200,1211.0,11.0,10.0,1221.0,...,0.0,161.0,NaN,NaN,1136.0,NaN,NaN,NaN,NaN,NaN
6429170,2009-12-31,YV,7204,ORF,IAD,1227,NaN,NaN,NaN,NaN,...,0.0,56.0,NaN,NaN,157.0,NaN,NaN,NaN,NaN,NaN
6429268,2009-12-31,YV,7194,PVD,IAD,1416,NaN,NaN,NaN,NaN,...,0.0,93.0,NaN,NaN,372.0,NaN,NaN,NaN,NaN,NaN
6429272,2009-12-31,YV,7177,RDU,IAD,1016,NaN,NaN,NaN,NaN,...,0.0,61.0,NaN,NaN,224.0,NaN,NaN,NaN,NaN,NaN
6429276,2009-12-31,YV,7290,ROA,IAD,611,NaN,NaN,NaN,NaN,...,0.0,64.0,NaN,NaN,177.0,NaN,NaN,NaN,NaN,NaN

In [102]:
df_old[(df_old['arr_delay'].isnull()) & (df_old['cancelled'] == 0) & (df_old['diverted'] == 1)]

,fl_date,op_carrier,op_carrier_fl_num,origin,dest,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,diverted,crs_elapsed_time,actual_elapsed_time,air_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
661,2009-01-01,XE,2980,IAH,TYS,1315,1312.0,-3.0,8.0,1320.0,...,1.0,122.0,NaN,NaN,772.0,NaN,NaN,NaN,NaN,NaN
818,2009-01-01,YV,2637,CLT,BHM,2230,2315.0,45.0,8.0,2323.0,...,1.0,85.0,NaN,NaN,351.0,NaN,NaN,NaN,NaN,NaN
1936,2009-01-01,OO,4490,MCI,ATL,1520,1523.0,3.0,11.0,1534.0,...,1.0,125.0,NaN,NaN,692.0,NaN,NaN,NaN,NaN,NaN
1994,2009-01-01,OO,4665,SLC,ACV,1115,1112.0,-3.0,16.0,1128.0,...,1.0,115.0,NaN,NaN,635.0,NaN,NaN,NaN,NaN,NaN
2192,2009-01-01,OO,4878,SLC,BTM,1059,1053.0,-6.0,15.0,1108.0,...,1.0,81.0,NaN,NaN,357.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428259,2009-12-31,XE,2382,CLE,DAY,850,848.0,-2.0,16.0,904.0,...,1.0,55.0,NaN,NaN,162.0,NaN,NaN,NaN,NaN,NaN
6428634,2009-12-31,XE,2967,IAH,LBB,900,900.0,0.0,25.0,925.0,...,1.0,98.0,NaN,NaN,458.0,NaN,NaN,NaN,NaN,NaN
6428718,2009-12-31,XE,3096,IAH,CMH,740,739.0,-1.0,48.0,827.0,...,1.0,152.0,NaN,NaN,986.0,NaN,NaN,NaN,NaN,NaN
6429157,2009-12-31,YV,7058,ORD,ORF,848,901.0,13.0,19.0,920.0,...,1.0,117.0,NaN,NaN,717.0,NaN,NaN,NaN,NaN,NaN
6429208,2009-12-31,YV,2905,PHX,GJT,1556,1546.0,-10.0,22.0,1608.0,...,1.0,118.0,NaN,NaN,438.0,NaN,NaN,NaN,NaN,NaN